<div id="About" style = "color:rgb(255, 250, 255);" >_</div>
<br>
<h2 {% if site.style == 'dark' %}class="text-white"{% endif %}>About ☕</h2>
<p class="f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}"></p>
    <p style = "margin-left: 25px;" class= "text-normal">
      
      Hello! My name is Akansha Lalwani. I'm a Data Science enthusiast with strong mathematical and communication skills having an interest in data analysis to inform business decisions and bring about a change in the world.
      
      <br>
      <br>

      The spark for programming in me ignited the first time a professor taught me how to use my understanding of matrix algebra to populate and loop through a vector. It was stoked every time I learned a new language (Python, R, SQL, MATLAB) and molded the code for projects in machine learning, NLP, or geospatial data visualization, to name a few. Every time I jumped from my seat, ecstatic that a null hypothesis could be rejected or my confusion matrix had a particularly low false-positive rate, my immense passion for programming and data science was stoked further.

      <br>
      <br>           
     
      My qualitative skills include written and oral communication, leadership experience, creative problem-solving, and team management. Thanks for reading about me today!
      
      <br>
      <br>
      <br>
      <hr>
</p>

