<div id="About" style = "color:rgb(255, 250, 255);" >_</div>
<br>
<h2 {% if site.style == 'dark' %}class="text-white"{% endif %}>About ☕</h2>
<p class="f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}"></p>
    <p style = "margin-left: 25px;" class= "text-normal">
      
      Hi, I'm Akansha Lalwani, and I’m actively seeking a challenging role as a Machine Learning Engineer, Data Scientist, Data Analyst, or Data Engineer, where I can contribute to innovation and business growth. I am passionate about leveraging AI and data science to solve real-world problems and am open to relocation.
        
      <br>
      <br>
      I hold a Master’s in Data Science from UC San Diego and a MicroMBA, giving me a strong blend of technical expertise and business strategy. My dedication to continuous learning and growth has been recognized through awards such as Outstanding Teaching Assistant and Excellence in Academic Achievement.
        
      <br>
      <br>
      With over four years of experience, I have deep knowledge of machine learning algorithms, data mining, natural language processing (NLP), and predictive analytics. In addition, I have extensive experience in data analytics and engineering, including ETL workflows, data visualizations, and advanced analytics.
        
      <br>
      <br>
      For example, at Kaiser Permanente, I developed models that improved diagnostic accuracy by 70%, enhancing decision-making in critical patient care. At Sigma Infosolutions, I optimized ETL workflows for over 1M+ records daily and created dashboards that increased client sales by 15%.
        
      <br>
      <br>
      I’m proficient in Python, SQL, and R, with hands-on experience in cloud platforms like AWS. I thrive in fast-paced environments and excel at communicating complex technical concepts to both technical and non-technical audiences.
        
      <br>
      <br>
      Let’s connect to explore how I can contribute to your organization or discuss the latest trends in data science and AI!
        
      <br>
      <br>
      <br>
      <hr>
</p>
