<h2 {% if site.style == 'dark' %}class="text-white"{% endif %}>Work Experience 💼</h2>
<br>
<div class="d-sm-flex flex-wrap gutter-condensed mb-4 text-list">
  <ul>
    {% for work in site.works %}
<!--     <p style = "margin: 0 0 0 0; class="text-normal">
        <!-- Replace nested <p> with <div> -->
    <div style="margin: 0 0 0 0;" class="text-normal">
        <p style = "margin-left: 25px" ><b>{{ work.name }}</b>{{ work.position }}</p>
        <i><p style = "margin-left: 25px" class="text-normal">{{ work.position2 }}</p></i>
        <p style = "margin-left: 25px" class="text-normal">{{ work.period }}</p>
        <!-- Task and impact details - added on 10/14 -->
        <ul style="margin-left: 25px;">
          {% for detail in work.details %}
          <li class="task">{{ detail.task }}</li>
          <li class="impact-highlight" style="background-color: #DFF0D8; padding: 10px; border-radius: 8px; margin-top: 5px;">
            <strong>{{ detail.impact }}</strong>
          </li> <!-- Always-visible impact with customized styling -->
          {% endfor %}
        </ul>
        <!-- End of addition on 10/14 -->
    </div> <!-- Replaced <p> with <div> -->
    <br>
    {% endfor %}
  </ul>
  
</div>
<div id="Projects" style = "margin: 0px; padding: 0px; color:rgb(255, 250, 255);" >_</div>
<hr>

