---
---
@import url('https://unpkg.com/primer/build/build.css');
@import 'highlight-syntax';


// If a user adds a custom font, this component will stop it from bleeding into GitHub components:
.github-component {
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol !important;
}

.repo-language-color {
    filter: brightness(125%) !important;
    border-radius: 50%;
    display: inline-block;
    height: 12px;
    position: relative;
    top: 2px;
    width: 12px;
}

.emoji {
  width: 18px;
  height: auto;
  vertical-align: middle;
}

.article {
  h1, h2, h3, h4,
  .highlight {
    margin-bottom: 16px;
  }

  blockquote {
    color: #c78fa9;
    border-left: 2px solid #e1a7c2; 
    padding-left: 16px;
    margin-bottom: 16px;
  }

  ul, ol {
    padding-left: 32px;
    margin-bottom: 16px;
  }

  li ul, li ol {
    padding-left: 16px;
    margin-bottom: 0px;
  }
}

.min-height-full {
  min-height: 100vh;
}

// New styles for work experience tasks and impacts - added 10/14
.impact-highlight {
  background-color: #F8D7DA;  /* Soft pink to match the sidebar color */
  color: #5A5A5A;             /* Medium grey for good contrast against the pink */
  padding: 10px;              /* Add padding for space around the text */
  border-radius: 8px;         /* Rounded corners for a clean look */
  margin-top: 5px;            /* Space between the task and impact */
  font-weight: bold;          /* Highlight the impact with bold text */
  border: 1px solid #E1E1E1;  /* Light grey border to match the theme */
}

.work-item h3, .work-item span, .work-item p {
  display: block;            // Ensuring these elements are block-level
  margin-bottom: 4px;        // Reduce space between elements
}

.task {
  margin-bottom: 4px;        // Space between tasks
  cursor: pointer;           // Pointer cursor on hover
  &:hover {
    text-decoration: underline;  // Underline on hover to indicate interactivity
  }
}

